---
---
// Largeur de la barre latérale (Sidebar)
// La valeur par défaut est souvent autour de 260px-300px.
$nav-width: 200px; 
$nav-width-md: 220px;

// Largeur maximale du contenu (pour éviter que le texte soit trop étalé sur grand écran)
$content-width: 1000px;

@import "just-the-docs";

// Ajustement fin si nécessaire pour les petits écrans
.side-bar {
  width: $nav-width;
  @include mq(md) {
    width: $nav-width-md;
  }
}

.main {
  @include mq(md) {
    margin-left: $nav-width-md;
  }
}
