---
---
// On définit les variables, mais on NE FAIT PAS l'import manuel
// Just the Docs injectera ces variables automatiquement dans son propre build.

$nav-width: 210px;         
$nav-width-md: 230px;      
$content-width: 1150px;    

// Forçage des dimensions (CSS pur)
@media (min-width: 600px) {
  .side-bar {
    width: 230px !important;
    min-width: 230px !important;
  }

  .main {
    margin-left: 230px !important;
  }

  .main-content-wrap {
    max-width: 1150px !important;
    padding-left: 30px !important; 
    padding-right: 30px !important;
  }
}

// Ton bloc profil
.site-author {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
